body {
    font-family: Comic Sans MS;
    background: hsla(59, 86%, 68%, 1);

background: linear-gradient(90deg, hsla(59, 86%, 68%, 1) 0%, hsla(134, 36%, 53%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(59, 86%, 68%, 1) 0%, hsla(134, 36%, 53%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(59, 86%, 68%, 1) 0%, hsla(134, 36%, 53%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F4F269", endColorstr="#5CB270", GradientType=1 );
}

a:link {
    transition-duration: 100ms;
    transform: translateY(0%);
    
}
a:hover {
    transform: translateY(-4px);
}
a:active {
    transform: translateY(-2px);
}